// Body
$body-bg: #f8fafc;

// Typography
<<<<<<< HEAD
$font-family-sans-serif: 'Nunito', sans-serif;
=======
$font-family-sans-serif: "Nunito", sans-serif;
>>>>>>> 9c5e5c8a629d9b64a0eac0ac2d10143967c9f92d
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
<<<<<<< HEAD
=======

// pallete for pragstore
$primary-color-darkGreen: #103c42;
$secondary-color-navyBlue: #02576c;
$third-color-green: #05a19c;
$fourth-color-yellow: #ffe837;
>>>>>>> 9c5e5c8a629d9b64a0eac0ac2d10143967c9f92d
