// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    line-height: 1.6;
    height: 100%;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    display: inline-block;
    padding-right: 1rem;
}

.logoText {
    font-size: 2.5rem;
    color: #fdfdfd;
}

textarea {
    padding: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {}

.carousel-item {
    height: calc(100vh - 120px);
}

.carousel-item img {
    height: calc(100vh - 120px);
}

.card-hover:hover {
    border-style: inset;
    border: 2px #fffa6f solid;
    // -webkit-box-shadow: 0px 5px 35px -14px rgba(255, 250, 111, 0.7);
    // -moz-box-shadow: 0px 5px 35px -14px rgba(255, 250, 111, 0.7);
    // box-shadow: 0px 5px 35px -14px rgba(255, 250, 111, 0.7);
}

.bg-carousel {
    background: #fff4d6;
}

.bg-overlay {
    background: #e6e6e6;
    min-height: 100%;
}

.sideBarBg {
    background: $admin-sidebar;
    color: white;
}

.card-img-top {}

#headerWrap {
    background: $secondary-color-navyBlue;
    height: auto;
    font-size: 0.7rem !important;

    .homelink {
        background: $primary-color-darkGreen;
        height: 1.5rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        ul li a {
            color: #d8d8d8;
            font-size: 0.5rem;
        }
    }

    .header-content {
        input[type="text"] {
            width: 500px !important;
        }

        .searchBtn button {
            border: none;
            background: #fffa6f;
            cursor: pointer;
            height: 100%;
        }

        ul {
            margin: 0;
        }

        ul li a {
            color: white;
        }

        button {
            border: 0;
            border-radius: 0px;
        }

        .bg-white {
            border: 0;
            border-radius: 0;
        }

        .search img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

#HomeContentproduct {
    display: block;

    .card-img-top {
        margin: 20px auto;
        height: 150px;
        width: 80%;
    }
}

footer {
    background: $secondary-color-navyBlue;
    padding: 1.5rem;
    margin: 0;
    color: white;
}

// Userprofile CSS
#userprofile {
    background: #e6e6e6;
    padding-top: 50px;
    padding: 2rem;

    .myprofile {
        padding: 2rem;
        background: #f4f4f4;
    }
}

// Login CSS starts
.forgotpassContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.loginContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100%;
}

#loginBox {
    margin: 0 auto;
    width: 600px;
    padding: 40px;
    background: #f4f4f4;
    box-sizing: border-box;
    border-radius: 20px;

    h3 {
        margin: 0;
        padding: 5px 0;
        color: #ffbe00;
        text-align: center;
    }

    .inputBox {
        position: relative;
    }

    .inputBox input {
        width: 100%;
        padding: 15px 0;
        font-size: 12px;
        color: #333;
        letter-spacing: 1px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        background: transparent;
    }

    .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 16px;
        color: #333;
        pointer-events: none;
        transition: 0.5s;
    }

    .inputBox input:focus~label,
    .inputBox input:valid~label {
        top: -10px;
        left: 0;
        color: #b6b6b6;
        font-size: 14px;
    }

    input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: #ffbe00;
        width: 100%;
        background: #005874;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .forgot-pass {
        padding: 10px 0;
    }

    .reg {
        padding: 5px 0;
    }
}

#forgotPasswordBox {
    margin: 15px auto;
    width: 400px;
    padding: 40px;
    background: #f4f4f4;
    box-sizing: border-box;
    border-radius: 20px;

    .inputBox {
        position: relative;
    }

    .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #333;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        background: transparent;
    }

    .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 1px 0;
        font-size: 16px;
        color: #333;
        pointer-events: none;
        transition: 0.5s;
    }

    .inputBox input:focus~label,
    .inputBox input:valid~label {
        top: -10px;
        left: 0;
        color: #ffbe00;
    }

    input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: #ffbe00;
        width: 100%;
        background: #005874;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
}

#resetPasswordBox {
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 20px;

    h3 {
        margin: 0;
        padding: 5px 0;
        color: #ffbe00;
        text-align: center;
    }

    .inputBox {
        position: relative;
    }

    .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 1px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }

    .inputBox input:focus~label,
    .inputBox input:valid~label {
        top: -10px;
        left: 0;
        color: #ffbe00;
    }

    input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: #ffbe00;
        width: 100%;
        background: #005874;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .loginLink {
        padding: 35px 0px 0;
    }
}